@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Karla&family=Montserrat:wght@100;400&family=Poppins:wght@200;400&family=Quicksand&family=Roboto:wght@300;700&display=swap');
.note-app.app-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color:rgb(255, 255, 255);
}

.create-section{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}


.input-div {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: 1px solid #e0e1e0;
    border-radius: 8px;
    height: auto;
    width: 600px;
    align-items: center;
}

.input-notes {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    padding-left: 10px;
    border: none;

}

.img-card {
    height: 100%;
    width: 100%;
}

.video {
    height: 100%;
    width: 100%;
}

.img-input {
    width: 20px;
}


.note-types {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.input-notes:focus {
    outline: none;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    justify-content: center;
    width: 100%;
    /* flex: 1 1 0px; */
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    column-gap: 10px;
    padding: 20px;
    width: 250px;
    height: 100%;
    border-radius: 5px;
    /* overflow: visible; */
}

.card button {
    position: relative;
    bottom: 0;
}

.card:hover {
    box-shadow: 4px 4px lightgray;

}

.material-icons-outlined {
    padding: 15px;
}
  .hover:hover {
    background: #f1f3f4;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.notes-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-section {
    background: #f1f3f4;
    width: 692px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;


}

.global-search {
    border: none;
    background: #f1f3f4;
    height: 100%;
    width: 95%;
    font-size: 1rem;
    margin-left: 10px;
}

.pinned-text {
    font-weight: bold;
    color: rgb(128, 128, 128);
}

.others-text {
    font-weight: bold;
    color: rgb(128, 128, 128);

}
