* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.app-footer-global {
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #dadce0;;
    height: 50px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    
}

.app-header-global {
    display: flex;
    height: 70px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0 10px;
    border-bottom: 1px solid #dadce0;
    color: #5f6368;
}





