* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mail-app {
    max-width: 90%;
    margin: auto;
    height: 90vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.mail-filter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;    
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.mail-filter .search-container {
    padding-left: 20px;
}

.mail-filter .filter-container {
    padding-right: 60px;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: 1px solid #ffffff;
    border-radius: 8px;
    height: auto;
    width: 350px;
    align-items: center;
}

.filter-container {
    display: flex;

}

.mail-search {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    padding-left: 10px;
    border: none;
}

.mail-status {
    /* padding-left: 10em; */
}

.mail-menu-list {
    background-color: #fff;
    display: flex;
    /* flex-direction: column; */
}

.form-mail {
    text-align: inherit;
    gap: 5px;

}

.form-mail input {
    margin-bottom: 40px;
}

.form-mail button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.mail-menu {
    /* position: absolute; */
    width: 20%;
    height: 100%;
}

.mail-menu button {
    background: none;
    border: none;
    min-height: 50px;
    width: 90%;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: inherit;
    font-size: 16px;
    font-weight: bold;
    color: rgb(138, 138, 138);
}

.mail-menu button:hover {
    background: #fafbfb;
    /* border: none; */
    font-weight: bold;
    transition: 0.5s;
}


.mail-list {
    list-style: none;
    /* margin: 0; */
    width: 80%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.mail-sort {
    background: #f1f3f4;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: space-evenly;
}

.mail-sort button {
    background: none;
    border: none;
    min-height: 50px;
    width: 20%;
    cursor: pointer;
    box-sizing: border-box;
}

.mail-list ul {
    border-radius: 5px;
    list-style: none;
    /* width: 100%; */
    /* margin: 0;
    padding: 10px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
}

.mail-list li {
    border: 0.2px solid #d9d9d9;
    border-radius: 5px;
    /* list-style: none;
    margin: 0;
    padding: 10px; */
    /* display: flex;
    flex-direction: column; */
    /* width: 90%; */
    /* flex-wrap: wrap; */
}

.mail-list-mails {
    
    display: grid;
    align-items: center;
}

.mail-list-mails:hover {
    -moz-box-shadow: inset 0 0 8px #bdc1c6;
    -webkit-box-shadow: inset 0 0 8px #bdc1c6;
    box-shadow: inset 0 0 8px #bdc1c6;
    transition: 0.2s;
}

.mail-preview {
    display: flex;
    flex-direction: column;
}


.mail-preview-inside {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;

}

.mail-preview-inside-from {
    flex-grow: 1;
    padding-left: 2%;
}

.mail-preview-inside-subject {
    flex-grow: 2;
}

.mail-preview-inside-body {
    flex-grow: 3;
}

.mail-preview-inside-status {
    flex-grow: 2;
    display: flex;
    align-items: self-end;
    gap: 15px;
}

.mail-view {
    /* background-color: #c0b2b0; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* border-radius: 10px; */
}

.mail-view-details {
    min-width: 20%;
    display: flex;
    justify-content: space-between;
}

.mail-view-text {
    /* flex-grow: 2; */
    width: 50%;
    padding-left: 2%;
}

.mail-view-actions {
    padding-right: 2%;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.mail-preview img {
    width: 30px;
}

.mail-compose {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
    padding: 30px;

}

textarea {
    width: 100%;
    margin-bottom: 30px


}

.inputs-compose-new-mail {
    margin-bottom: 30px;

}

.text-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.mail-compose h2 {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
}




/* .mail-preview {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
} */

.delete-btn {
    cursor: pointer;
    /* text-style: red; */
    /* display: flex; */
    /* background-color: none; */
    /* border-radius: 24px; */
    /* border: none;
    cursor: pointer; */
    /* :focus {
      outline: none;
    } */
    /* .mdi {
      margin-right: 8px;
    } */
}